* {
  margin: 0;
  padding: 0;
  box-sizing: border-radius;
}
body {
  overflow-x: hidden;
  background-color: rgb(104, 92, 92);
  /* background-image: url("images/peter-gargiulo-cGNCepznaV8-unsplash.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-brand img {
  width: 50px;
}
.hidden {
  display: none;
}
.hero-section {
  display: flex;
  flex-direction: row;
}
.hero-image {
  width: 33%;
  padding: 30px;
}
.hero-image img {
  max-width: 100%;
  max-height: 100%;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}
p,
h1,
h2 {
  color: white;
}
.about-section {
  background-color: aquamarine;
}
.about-text {
  width: 40%;
}
.about-images div {
  width: 400px;
}
.about-images img {
  max-width: 100%;
  padding: 3px;
}
.first-imgs,
.second-imgs {
  display: flex;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
